<div class="cinema-ticket-1">
    <span class="cinema-ticket-1--festival">{{ festival }} presents</span>
    <span class="cinema-ticket-1--title">A Flor de Piel</span>
    <span class="cinema-ticket-1--day">day {{ day }}</span>
    <span class="cinema-ticket-1--month">month {{ month }}</span>
    <span class="cinema-ticket-1--year">year {{ year }}</span>
    <span class="cinema-ticket-1--time">{{ time }}</span>
    <span class="cinema-ticket-1--location">{{ location }}</span>
    <span class="cinema-ticket-1--venue">{{ venue }}</span>
    <span class="cinema-ticket-1--address">{{ address }}</span>
</div>